.conteiner{
    margin: 10px;
}
.form{
    display: flex;
    flex-direction: column;
}
.label{
    margin: 5px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}
.button{
    width: 120px;
    margin-left: 109px;
}